{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Add New Scarlping</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href=" {% static '/css/style.css' %} " rel="stylesheet" type="text/css" defer="">
</head>

<style>
  .listView
  {height:200px; width:18%;overflow:hidden; overflow-y:scroll;
  }
</style>

<body>
<div class="scarlping-section">

	<div class="container">
    <div class="scarlping_inner">

      <h5 class="tittletwo" style="font-size: 19px; padding-top: 31px; padding-bottom: 31px;">Add New Scarlping </h5>
      <div class="scarlping_form">
       
          <div class="row">
           
            

          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6">

              <div class="form-group">
                <label>
                  Scalping Type
              </label>
              <div class="form-check check_btn">
                <input class="form-check-input" type="radio" name="scalpingtype" id="scalpingtype1" value="Buy" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Buy
                </label>
              </div>
              
              <div class="form-check check_btn">
                <input class="form-check-input" type="radio" name="scalpingtype" id="scalpingtype2" value="Sell" >
                <label class="form-check-label" for="exampleRadios2">
                  Sell
                </label>
              </div>
              </div>

            </div>
            <div class="col-sm-6 col-md-6">

              <div class="form-group">
                <label>
                  Intrumenet Type
              </label>
              <div class="form-check check_btn">
                <input class="form-check-input" type="radio" name="instrumentType" id="instrumentType1" value="Normal" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Equity 
                </label>
              </div>
              
              <div class="form-check check_btn">
                <input class="form-check-input" type="radio" name="instrumentType" id="instrumentType2" value="Cash" >
                <label class="form-check-label" for="exampleRadios2">
                  Currency
                </label>
              </div>

              <div class="form-check check_btn">
                <input class="form-check-input" type="radio" name="instrumentType" id="instrumentType3" value="fno" >
                <label class="form-check-label" for="exampleRadios3">
                  FNO
                </label>
              </div>

              </div>

            </div>
            <div class="col-sm-6 col-md-6">
              
              <div class="form-group">
                <label>
                  Steps
              </label>
                <input id="steps" class="form-control" type="text" >

              </div>
            </div>
            <div class="col-sm-6 col-md-6">

              <div class="form-group">
                <label>
                  Lot Quantity 
              </label>
                <input id="lot_quantity" class="form-control" type="text" >

              </div>
            </div>
        
          </div>


          <div class="row">
          <div class="col-sm-6">

            <div class="form-group inst_btn">
              <label>
                Add Instruments
            </label>
            
              <input style="width: 60%;" id="instrument_token" class="form-control" type="text" ><img style="    left: 62%;
           
              width: 35px;     top: 34px;"  onclick="addInstrument();" src=" {% static 'images/Group 72.png' %} ">
              <img style="    right: 10%; position: absolute;
              width: 35px;     top: 37px;
          "  onclick="addToFav();" src=" {% static 'images/heart.png' %} ">

            </div>
           
          </div>
          <div class="col-sm-6">
            <div class="row" style="">
           
          <div class="col-sm-12">
            <label style="margin-bottom: 10px;">
              My Favorite
          </label>
            <ul style="    height: 140px;
            overflow: hidden;
            overflow-y: scroll;
            margin-left: auto;
            text-align: left;
            padding: 10px;
            border: 1px solid;
            border-color: #E8EFF9;">
              {% for item in fav %}
              <li onclick="setInstrument('{{item.instrumentToken}}');">{{ item.instrumentToken }}</li>
              {% endfor %}
          </ul>
        </div>
        </div>
          </div>
        </div>
         

          <div class="row">
            <div class="col-sm-6">

              <div class="form-group inst_btn">
                <label>
                  Instrument Name (Tag)
              </label>
                <input id="instrument_name" class="form-control" type="text" >
              </div>
            </div>
            <div class="col-sm-6">

              <div class="form-group">
                <label>
                  Entry diff
              </label>
                <input id="entry_diff" class="form-control" type="text" >

              </div>
            </div>
            <div class="col-sm-6">

              <div class="form-group">
                <label>
                  Start price
              </label>
                <input id="start_price" class="form-control" type="text" >

              </div>
            </div>
            <div class="col-sm-6">

              <div class="form-group">
                <label>
                  Exit diff
              </label>
                <input id="exit_diff" class="form-control" type="text" >

              </div>
            </div>
            

          </div>

          <button style="margin-left: auto;
          width: auto;
          padding: 9px 40px;
          display: -webkit-box;" class="btn btn_sub" onclick="addData();" type="button">Add</button>
        
      </div>
 <div class="note_section">
      <p><span>Notes :-</span></p>
      <ol>
        <li>Add Entry diff , Exit diff , Start price like 0.00</li>
      </ol>
    </div>
    </div>
  </div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
  function setInstrument(instruemntToken){
    var instrumentToken = document.getElementById("instrument_token").value;
    document.getElementById("instrument_token").value = instruemntToken;
  }
</script>

<script>
  function addToFav(){
    var instrumentToken = document.getElementById("instrument_token").value;
    if(instrumentToken == "")
    {
      alert("Please select instrument token");
      return;
    }
    else
    {
      $.ajax({
        url: "addToFav",
        type: 'POST',
        context: document.body,
        data: {instrumentToken: instrumentToken,'csrfmiddlewaretoken':"{{ csrf_token }}" },
        success: function (data) {
             console.log(data);
             
              
              alert("Added to favourite");
              
        },
    }).done(function () {
        // alert('finished extracting data');;
    });
    }
  }
</script>


<script>
  function addInstrument(){
    var currentDate = new Date().toLocaleDateString();
    var fields = currentDate.split('/');
    if(fields[0].length == 1){
      fields[0] = '0'+fields[0];
    }
    if(fields[1].length == 1){
      fields[1] = '0'+fields[1];
    }
    var newdate = fields[0]+'_'+fields[1]+'_'+fields[2];

    var insruNormalType = document.getElementById("instrumentType1").checked;
    var insruNormalCash = document.getElementById("instrumentType2").checked;
    var insruNormalfno = document.getElementById("instrumentType3").checked;

    var instrumentLink = '';

    if(insruNormalType == true)
    {
      instrumentLink = "https://preferred.kotaksecurities.com/security/production/TradeApiInstruments_Cash_"+newdate+".txt";
     
    }
    else if(insruNormalCash == true)
    {
      instrumentLink = "https://preferred.kotaksecurities.com/security/production/TradeApiInstruments_fno_"+newdate+".txt";
    }
    else if(insruNormalfno == true)
    {
      instrumentLink = "https://preferred.kotaksecurities.com/security/production/TradeApiInstruments_fno_"+newdate+".txt";
    }

   
    console.log(newdate);
    window.open(instrumentLink, '_blank').focus();
  }
</script>

<script>
  function addData() {
    var instrumentToken = document.getElementById("instrument_token").value;
    var instrumentName = document.getElementById("instrument_name").value;
    var orderType = "Sell";
    var instrumenttype = "Cash";
    var lotQuantity = document.getElementById("lot_quantity").value;
    var steps = document.getElementById("steps").value;
    var entryDiff = document.getElementById("entry_diff").value;
    var exitDiff = document.getElementById("exit_diff").value;
    var startPrice = document.getElementById("start_price").value;

    var buyType = document.getElementById("scalpingtype1").checked;
    var sellType = document.getElementById("scalpingtype2").checked;

    var insruNormalType = document.getElementById("instrumentType1").checked;
    var insruNormalCash = document.getElementById("instrumentType2").checked;
    var insruNormalFno = document.getElementById("instrumentType3").checked;

    console.log(buyType);
    console.log(sellType);

    console.log(insruNormalType);
    console.log(insruNormalCash);

    if(insruNormalType == true)
    {
      instrumenttype = "Normal";
    }
    else if(insruNormalCash == true)
    {
      instrumenttype = "Cash";
    }
    else if(insruNormalFno == true)
    {
      instrumenttype = "Fno";
    }
    

    if(buyType == true)
    {
      orderType = "Buy";
    }
    else if(sellType)
    {
      orderType = "Sell";
    }


    if(instrumentToken == '')
    {
      alert("Please select instrument token");
      return;
    }
    else if(lotQuantity == '')
    {
      alert("Please enter lot quantity");
      return;
    }
    else if(steps == '')
    {
      alert("Please enter steps");
      return;
    } 
    else if(entryDiff == '')
    {
      alert("Please enter entry diff");
      return;
    }
    else if(exitDiff == '')
    {
      alert("Please enter exit diff");
      return;
    }
    else if(startPrice == '')
    {
      alert("Please enter start price");
      return;
    }
    else if(instrumentName == '')
    {
      alert("Please enter instrument name");
      return;
    }
    else{
      $.ajax({
          url: "addScalping",
          type: 'POST',
          context: document.body,
          data: {instrumenttype:instrumenttype , instrumentToken: instrumentToken , orderType:orderType, lotQuantity:lotQuantity, steps:steps, entryDiff:entryDiff, exitDiff:exitDiff, startPrice:startPrice,instrumentName:instrumentName,'csrfmiddlewaretoken':"{{ csrf_token }}" },
          success: function (data) {
               console.log(data);
               location.replace('http://43.204.22.205:8000/share/dashboard');
          },
      }).done(function () {
          // alert('finished extracting data');;
      });
    }
      
  }
</script>

</body>

</html>