{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Dashboard</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href=" {% static '/css/style.css' %} " rel="stylesheet" type="text/css" defer="">
</head>

<body>
<div class="dashboard-section">
  
	<div class="container">
    <div> </div>
    <div class="des_table">
      <div class="table_text_he">
        <div class="row">
          <div class="col-sm-4 col-6 text-left m-auto"><h5 class="tittletwo">Already Running Scalping</h5> </div>
          <div class="col-sm-4 col-6  text-left m-auto"><h5 class="tittletwo tittlenewone" style="margin: 0px;
            text-align: center;     color: #190e8b;">Logged In User : {{ loggedInUser }}</h5> </div>
          <div class="col-sm-4 col-12  text-right"><a class="btnone" href="/share/addNewScalping"> <img style="vertical-align: text-bottom;
            margin-right: 10px;" src=" {% static 'images/Icon ionic-ios-add.png' %} ">Add New Scarlping</a></div>
            <a href="/share/openMyFavourite"><img style="vertical-align: text-bottom;
            margin-right: 10px;" src=" {% static 'images/star-2.png' %} "></a>
            <div onclick="logoutUser();">Logout</div>
        </div>
      </div>
      <div class="table_inner">
      <table class="table table_des">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Tag <img src=" {% static 'images/line.png' %} "></th>
            <th scope="col">Type <img src=" {% static 'images/line.png' %} "></th>
            <th scope="col">Steps <img src=" {% static 'images/line.png' %} "></th>
            <th scope="col">Instrument No. <img src=" {% static 'images/line2.png' %} "></th>
            <th scope="col">Entry diff.. <img src=" {% static 'images/line2.png' %} "></th>
            <th scope="col">Exit diff.. <img src=" {% static 'images/line.png' %} "></th>
            <th scope="col">Start price <img src=" {% static 'images/line.png' %} "></th>
            <th scope="col">Actions </th>
          </tr>
        </thead>
        <tbody>

          {% for order in scalpingOrder %}
          <tr class="buy_se">
            <th scope="row">{{ order.instrumentTag }}</th>
            <td>{{ order.orderType }}</td>
            <td>{{ order.steps }}</td>
            <td>{{ order.instrumentToken }}</td>
            <td><img src=" {% static 'images/Vector.png' %} ">{{ order.entryDiff }}</td>
            <td><img src=" {% static 'images/Vector.png' %} ">{{ order.exitDiff }}</td>
            <td><img src=" {% static 'images/Vector.png' %} ">{{ order.startPrice }}</td>
            <td>
                <p class="action_btn">
                  {% if order.status == 'stop' %}
                  <a href="#"><img onclick="runScalping('{{order.id}}','{{order.status}}');" class="icon_view" src=" {% static 'images/power-button.png' %}"> <img  onclick="runScalping('{{order.id}}','{{order.status}}');" class="hover_view" src=" {% static 'images/power-buttonone.png' %}"></a>
             {% else %}
                  <a href="#"><img onclick="runScalping('{{order.id}}','{{order.status}}');" class="icon_view" src=" {% static 'images/stop.png' %}"> <img onclick="runScalping('{{order.id}}','{{order.status}}');" class="hover_view" src=" {% static 'images/stop-one.png' %}"></a> 
             {% endif %}
                  
                  <img onclick="editScalping('{{order.id}}');" class="icon_view" src=" {% static 'images/ant-design_edit-outlined.png' %}"> <img onclick="editScalping('{{order.id}}');" class="hover_view" src=" {% static 'images/Vector2.png' %}">
                <a href="#"><img style="    width: 18px;" onclick="deleteScalping('{{order.id}}');" class="icon_view" src=" {% static 'images/delete.png' %}"><img style="    width: 18px;" onclick="deleteScalping('{{order.id}}');" class="hover_view" src=" {% static 'images/deleteone.png' %}"> </a>
              
                </p>
            </td>
          </tr>
          {% endfor %}

        </tbody>


      </table>
    </div>

    </div> 


  </div>


</div>

<script>
  function editScalping(order){
      console.log('clicked',order);
      $.ajax({
          url: "editScalping",
          type: 'POST',
          context: document.body,
          data: { orderid: order,'csrfmiddlewaretoken':"{{ csrf_token }}" },
          success: function (data) {
               console.log(data);
               var base_url = window.location.origin;
               location.replace(base_url+'/share/openEditScalping');
          },
      }).done(function () {
          // alert('finished extracting data');;
      });
  }
</script>

<script>
  function logoutUser(){


    if (confirm('Are you sure you want to logout?')) {
      $.ajax({
          url: "logoutUser",
          type: 'POST',
          context: document.body,
          data: { 'csrfmiddlewaretoken':"{{ csrf_token }}" },
          success: function (data) {
               console.log(data);
               window.location.reload();
          },
      }).done(function () {
          // alert('finished extracting data');;
      });
    
    } else {
      // Do nothing!
      console.log('Thing was not saved to the database.');
    }
  }
</script>

<script>
  function deleteScalping(order){


    if (confirm('Are you sure you want to delete this scalping?')) {
      console.log('clicked',order);
      $.ajax({
          url: "deleteScalping",
          type: 'POST',
          context: document.body,
          data: { orderid: order,'csrfmiddlewaretoken':"{{ csrf_token }}" },
          success: function (data) {
               console.log(data);
               window.location.reload();
          },
      }).done(function () {
          // alert('finished extracting data');;
      });
    
    } else {
      // Do nothing!
      console.log('Thing was not saved to the database.');
    }
  }
</script>

<script>
  function runScalping(order,status){

    if(status == 'active')
    {
      console.log('clicked',order);
      $.ajax({
          url: "stopscalping",
          type: 'POST',
          context: document.body,
          data: { orderid: order,'csrfmiddlewaretoken':"{{ csrf_token }}" },
          success: function (data) {
               console.log(data);
               window.location.reload();
          },
      }).done(function () {
          // alert('finished extracting data');;
      });
    }
    else
    {
      console.log('clicked',order);
      $.ajax({
          url: "runScalping",
          type: 'POST',
          context: document.body,
          data: { orderid: order,'csrfmiddlewaretoken':"{{ csrf_token }}" },
          success: function (data) {
               console.log(data);
               window.location.reload();
          },
      }).done(function () {
          // alert('finished extracting data');;
      });

    }

   
  }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>